terraform {
  backend "azurerm" {
    resource_group_name  = "tfstate"
    storage_account_name = "tfstategretel"
    container_name       = "tfstate"
    key                  = "gretel-hybrid-env.tfstate"
  }
}
