resource_group_name                  = "gretel-hybrid-env"
region                               = "South Central US"
deployment_name                      = "gretel-hybrid-env"
kubernetes_version                   = "1.27"
gretel_storage_account_name          = "gretelhybrid"
gretel_source_storage_container_name = "gretel-hybrid-source"
gretel_sink_storage_container_name   = "gretel-hybrid-sink"
gretel_key_vault_name                = "gretel-hybrid-keyvault"
